# Ignorer les fichiers d'images
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
__pycache__/

# Ignorer les fichiers de poids
*.pth
*.pt
/runs/
# Ne pas ignorer les images dans le dossier 'test'
!/test/*.jpg
!/test/*.jpeg

*.pkl
*.csv